/*-----------------------------------
        Post Container Design
-----------------------------------*/
.posts_container_section{
    position: relative;
    margin-top: 20px;
}

.posts_nav_sticky{
    padding-top: 30px;
    position: sticky;
    top: 82px;
    z-index: 1000;
    background-color: white;
}

.posts_nav_container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
}

.posts_nav_bar{
    display: flex;
    height: 100%;
    color: #8a8a8a;
}

.posts_nav_bar p{
    margin: 0;
    padding-bottom: 20px;
}

.posts_nav_bar p:first-child{
    color: black;
    border-bottom: 1px solid black;
}

.posts_nav_bar p + p {
    margin-left: 20px;
    height: 100%;
}

.posts_nav_btn_container{
    display: flex;
}

.posts_nav_btn_container button{
    min-width: 160px;
    font-size: 15px;
}

.posts_nav_btn_container button:first-child{
    background-color: #EDEEF0;
}

.posts_nav_btn_container button + button {
    margin-left: 16px;
}

.posts_nav_icon_left,
.posts_nav_icon_right{
    height: 20px;
    width: 20px;
}

.posts_nav_icon_left{
    margin-left: 20px;
}

.posts_nav_icon_right{
    margin-right: 10px;
}

.posts_container{
    margin-top: 30px;
    position: relative;
}

.aside_location_input{
    position: sticky;
    top: 214px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 8px;
    width: 250px;
    margin-top: 26px;
}

.aside_location_input input{
    border: 0;
    outline: 0;
    font-size: 14px;
    width: 200px;
}

.aside_location_edit{
    cursor: pointer;
}

.aside_info{
    position: sticky;
    top: 278px;
    display: flex;
    font-size: 12px;
    color: #808080;
    margin-top: 32px;
    width: 250px;
    text-align: left;
}

.aside_info_icon{
    height: 20px;
    width: 20px;
}

.aside_info span{
    display: inline-block;
    margin-left: 10px;
}

.recommended_groups{
    position: sticky;
    top: 369px;
    width: 250px;
    margin-top: 55px;
    text-align: left;
    text-transform: uppercase;
}

.see_more_btn{
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

.see_more_btn button{
    text-decoration: none;
    padding: 0;
    font-size: 12px;
}

/*-----------------------------------
        Modal Design
-----------------------------------*/
.modal_content{
    position: relative;
    border-radius: 10px;
}

.modal_header{
    padding: 20px 0;
    background-color: #EFFFF4;
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px 10px 0 0;
}

.modal_header p {
    margin: 0;
}

.modal_body{
    padding: 36px;
    text-align: left;
}

.modal_body_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_body_header h5{
    font-weight: 700;
    font-size: 24px;
}

.modal_body_header p{
    margin: 0;
}

.modal_body_header button{
    font-weight: 700;
    text-decoration: none;
    padding-right: 0;
}

.modal_body_container{
    display: flex;
    margin-top: 24px;
}

.modal_body_container > div{
    width: 50%;
}

.modal_form{
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #D9D9DB;
}

.modal_form_control{
    width: 100%;
    padding: 15px 12px;
    border-radius: 0;
    outline: none;
    background-color: #F7F8FA;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #D9D9DB;
}

.pass_field_container{
    position: relative;
}

.password_eye{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    fill: #8a8a8a;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.modal_form_submit button{
    width: 100%;
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
}

.social_sign_container{
    margin-top: 24px;
}

.social_sign_container button{
    width: 100%;
    font-size: 14px;
    border: 1px solid #D9D9DB; 
}

.social_sign_container button + button{
    margin-top: 10px;
}

.modal_art{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal_art p {
    text-align: center;
    font-size: 11px;
    color: #8c8c8c;
    margin: 0;
}

.modal_close_btn{
    position: absolute;
    top: -35px;
    right: -15px;
    background-color: #e0e0e0;
    border-radius: 50%;
    padding: 6px;
}

.forgot_pass_btn{
    width: 100%;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 12px;
    margin-top: 34px;
    padding: 0;
}